*~
.DS_Store
*.swp
*.bak
*.orig
coverage
data/*.dat
config/auth_providers.yml
base_packaged.*
.directory
.bundle
log/*.log
tmp/**/*
test/dummy/tmp/**/*
test/dummy/log/*.log
vendor/cache/*.gem
.sass-cache
*.kdev4
.redcar
.idea
tunnlr.yml
