<!DOCTYPE html>
<html>
<head>
  <title>Dafaq</title>
  <%= stylesheet_link_tag    "dafaq/application", :media => "all" %>
  <%= javascript_include_tag "dafaq/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
